<%- include("header") -%>
<h2> This is the about page</h2>
<p>a sdflkjasd;flkahsdvpjkhasdlkjfhawelkjf WOWOWOWOWOW sdflkjasd;flkahsdvpjkhasdlkjfhawelkjf WOWOWOWOWOW sdflkjasd;flkahsdvpjkhasdlkjfhawelkjf WOWOWOWOWOW sdflkjasd;flkahsdvpjkhasdlkjfhawelkjf WOWOWOWOWOW</p> 

<%- include("footer") -%>